.avatar {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #888;
  font-weight: bolder;
  color: white;
  align-items: center;
  justify-content: center;
}

.avatar.small {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 11px;
  font-weight: normal;
}