
/* common */
body{

    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;  /* 행간 간격*/
    font-family: 'Nanum Gothic', 'sans-serif';

    height: 3000px;   /*임시로 */
  }

  img{
     display: block;   /* 이미지를  인라인요소 --> block요소로 변경*/
  }

  a{
    text-decoration: none;  
  }

  .inner{
    width: 1100px;   /* 1100px  600px*/
    margin: 0 auto;   /* 상하   좌우*/
    position: relative;
  }

  /*  우선순위 .btn 10점*/
  .btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block ;
    transition: .4s;
  }

  .btn:hover {
    /* common */
    body{
    
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;  /* 행간 간격*/
        font-family: 'Nanum Gothic', 'sans-serif';
    
        height: 3000px;   /*임시로 */
      }
    
      img{
         display: block;   /* 이미지를  인라인요소 --> block요소로 변경*/
      }
    
      a{
        text-decoration: none;  
      }
    
      .inner{
        width: 1100px;   /* 1100px  600px*/
        margin: 0 auto;   /* 상하   좌우*/
        position: relative;
      }
    
      /*  우선순위 .btn 10점*/
      .btn {
        width: 130px;
        padding: 10px;
        border: 2px solid #333;
        border-radius: 4px;
        color: #333;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        display: block ;
        transition: .4s;
      }
    
      .btn:hover {
        background-color: #333;
        color: #fff;
    
      }
      /*  우선순위 .btn 10점*/
      /*  우선순위 btn.btn--reverse 20점*/
      .btn.btn--reverse{
        background-color: #333;
        color: #fff;
      }
    
      /*  우선순위 .btn 10점*/
      /*  우선순위 btn.btn--reverse 20점*/
      /*  우선순위 btn.btn--reverse:hover 30점*/
      .btn.btn--reverse:hover{
        background-color: transparent;
        color: #333;
      }
    
      .btn.btn--brown {
        color: #592B18;
        border-color: #592B18;
      }
      .btn.btn--brown:hover {
        color: #FFF;
        background-color: #592B18;
      }
      .btn.btn--gold {
        color: #D9AA8A;
        border-color: #D9AA8A;
      }
      .btn.btn--gold:hover {
        color: #FFF;
        background-color: #D9AA8A;
      }
      .btn.btn--white {
        color: #FFF;
        border-color: #FFF;
      }
      .btn.btn--white:hover {
        color: #333;
        background-color: #FFF;
      }
      
    
    
      /* herader */
      header{
        /* position: relative; */
        /* background-color: royalblue; */
        width: 100%;
        background-color: #f6f5f0;
        border-bottom: 1px solid #c8c8c8; 
        position: fixed;   /* viewport 기준으로 변경   : 가로 길이를 최소 사이즈로 하려는 경향 */
        top :0 ;
        z-index: 9;
    
      }
    
      /* 해당 열을 가운데 정렬을 하게 함
      header  자식노드만 
      */
      header > .inner {
    /* 
        width: 1100px;   
        margin: 0 auto;  
        background-color: orange; 
        position: relative;
    */    
        /* header 높이만*/
        height: 120px;
      }
    
    
    
    
    
    
    
      header .logo{
        height: 75px;
        position: absolute;    /* 상위요소에 inner 에 포지션이있는지 체크 필요    inner position: relative;   header 정렬*/   
        top :0 ;
        bottom: 0;
        left: 0;
        margin: auto;   /* 부모요소를 기준으로  중앙정렬이 됨 */
    
        /* display: none ;  임시로 숨김 */
    
      }
    
      header .sub-menu{
        position: absolute;   /* 부모요소 기준 inner 체크  */
        top: 0;
        right: 0;
        display: flex;
      }
    
      header .sub-menu ul.menu{
    
        font-family: Aria , sans-serif;
        display: flex;
      }
    
      header .sub-menu ul.menu li{
        
        position: relative;
      }
    
      header .sub-menu ul.menu li::before{    
        /* 인라인요소  */
        content: "";
        display: block;
        width: 1px;
        height: 12px;
        background: #e5e5e5;
        position: absolute;
        top:0;
        bottom: 0;
        margin: auto 0;
    
      } 
    
      header .sub-menu ul.menu li:first-child:before{  
        /* 첫번재 요소에 줄은 없앰*/  
        display: none;
      }
      header .sub-menu ul.menu li a{
        /* background-color: red; */
        font-size: 12px;
        padding: 11px 16px;   /* 선택 영역을 명확하게  display: block; */
        display: block;
        color: #656565;
        text-decoration: none;                          /* ux  사용자 경험 */
      }
    
      header .sub-menu ul.menu li a:hover{     /* 마우스 hover */
        color: #000000;
      }
      
      header .sub-menu .search{
        
        /* background-color: red; */
        height: 34px;
        position: relative;
    
      }
    
      header .sub-menu .search input {
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: 1px solid #000;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;
      }
    
      header .sub-menu .search input:focus {
        width: 190px;
        border-color: #669900;
      }
    
    
    
      header .sub-menu .search .material-icons {
        height: 24px;
        position: absolute;   /* search  position: relative; 추가*/
         top: 0 ;
         bottom : 0;
         right: 5px;    /*  header .sub-menu  ||   display: flex; */
         margin: auto;
         transition: 0.4s;
      }
    
      header .sub-menu .search.focused .material-icons {
        opacity: 0;
    
    
      }
    
      header .main-menu{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        display: flex;
    
      }
      
      header .main-menu .item{
      
      }
    
      header .main-menu .item .item__name {
        padding: 10px 20px 34px 20px;
        font-family: Arial, sans-serif;
        font-size: 13px;
      
      }
    
      /* item  hover */
      header .main-menu .item:hover .item__name {
        background-color: #2c2a29;
        color: #669900;
        border-radius: 6px 6px 0 0;  /* 좌상  우상  우하 우좌*/
    
      }
    
      header .main-menu .item .item__contents {
          width: 100%;
          position: fixed;
          left: 0;
          display: none;   /* 임시 숨김*/
      }
    
      header .main-menu .item:hover .item__contents {
          display: block;
      
      }
      header .main-menu .item .item__contents .contents__menu {
        background-color: #2c2a29;
        /* height: 200px; */
      }
    
      header .main-menu .item .item__contents .contents__menu > ul {
        display: flex;
        padding: 20px 0;
      }
    
      header .main-menu .item .item__contents .contents__menu > ul > li {
        width: 220px;
      }
    
    
      header .main-menu .item .item__contents .contents__menu > ul > li h4 {
        padding: 3px 0 12px 0;
        font-size: 14;
        color: #fff;
      }
    
    /*
      header .main-menu .item .item__contents .contents__menu > ul > li ul {  }
    */
      header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    
        padding: 5px 0 ;
        font-size:  12px;
        color: #999;
        cursor: pointer;
    
      }
    
      header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
        color: #669900;
    
    
      }
    
      header .main-menu .item .item__contents .contents__texture {
      /*
        background-color: orange;
        height: 100px;
       */
        padding: 26px 0;
        font-size: 12px;
        background-image: url("../images/main_menu_pattern.jpg");   /* 자동 반복적으로 출력*/
      }
    
      header .main-menu .item .item__contents .contents__texture h4 {
    
          color: #999;
          font-weight: 700;
          /* font-size: 12; */
      }
    
      header .main-menu .item .item__contents .contents__texture p {
        color: #669900;
        margin: 4px 0 14px;  /* 상 중 하 */
        /* font-size: 12px; */
    
      }
    
      header .badges {
        position: absolute;   /* header position 존재를 체크하기   */
        top : 130px;
        right: 12px;
      }
    
      header .badges .badge {
        border-radius: 10px;
        overflow: hidden;    /* 넘치지 않기 */
        margin-bottom: 12px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0, 15);   /* 그림자 생성*/
        cursor: pointer;
      }
    
    
      /* Visual  */
      .visual {
        margin-top: 120px ;    /* header > .inner   height 120 */
        background-image: url("../images/visual_bg.jpg");
        background-position: center;
    
      }
       .visual .inner{
        height: 646px;
        /* background-color: orange;  임시 */
       } 
    
      /* .visual .inner .title { } */
      .visual .title {
        position: absolute;   /* .visual  inner position 값 체크 */
        top : 88px;
        left: -10px;
      }
    
      .visual .title .btn {
        position: absolute;
        top: 259px;
        left: 173px;
    
      }
    
      .visual .cup1.image {
        position: absolute;   /* .visual  inner position 값 체크 */
        bottom : 0;
        right: -47px;  
    
      }
    
      .visual .cup1.text {
    
        position: absolute;   /* .visual  inner position 값 체크 */
        top : 38;
        right: 171px; 
      }
    
      .visual .cup2.image {
    
        position: absolute;   /* .visual  inner position 값 체크 */
        bottom : 0;
        right: 162px;  
    
      }
    
      .visual .cup2.text {
        position: absolute;   /* .visual  inner position 값 체크 */
        top : 321px;
        right: 416px; 
    
      }
    
      .visual .spoon {
        position: absolute;   /* .visual  inner position 값 체크 */
        bottom : 0px;
        left: 275x;
      }
    
      .visual .fade-in {
        opacity: 0;   /* 투명하게 */
      }
    
    /*NOTICE*/
    .notice .notice-line {
      position: relative;
    
    }
    .notice .notice-line .bg-left {
      position: absolute;  /* notice-line  position 체크 */
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #333;
    }
    .notice .notice-line .bg-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f6f5ef;
    }
    .notice .notice-line .inner {
      height: 200px;   /* notice-line 늘어나는 속성 가지고 height: 100%; 가지면서 높이 늘어나다가 최대한 height값을 따람  */
      border: 2px solid red;
    }
    background-color: #333;
    color: #fff;

  }
  /*  우선순위 .btn 10점*/
  /*  우선순위 btn.btn--reverse 20점*/
  .btn.btn--reverse{
    background-color: #333;
    color: #fff;
  }

  /*  우선순위 .btn 10점*/
  /*  우선순위 btn.btn--reverse 20점*/
  /*  우선순위 btn.btn--reverse:hover 30점*/
  .btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;
  }

  .btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
  }
  .btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
  }
  .btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
  }
  .btn.btn--gold:hover {
    color: #FFF;
    background-color: #D9AA8A;
  }
  .btn.btn--white {
    color: #FFF;
    border-color: #FFF;
  }
  .btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
  }
  


  /* herader */
  header{
    /* position: relative; */
    /* background-color: royalblue; */
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8; 
    position: fixed;   /* viewport 기준으로 변경   : 가로 길이를 최소 사이즈로 하려는 경향 */
    top :0 ;
    z-index: 9;

  }

  /* 해당 열을 가운데 정렬을 하게 함
  header  자식노드만 
  */
  header > .inner {
/* 
    width: 1100px;   
    margin: 0 auto;  
    background-color: orange; 
    position: relative;
*/    
    /* header 높이만*/
    height: 120px;
  }







  header .logo{
    height: 75px;
    position: absolute;    /* 상위요소에 inner 에 포지션이있는지 체크 필요    inner position: relative;   header 정렬*/   
    top :0 ;
    bottom: 0;
    left: 0;
    margin: auto;   /* 부모요소를 기준으로  중앙정렬이 됨 */

    /* display: none ;  임시로 숨김 */

  }

  header .sub-menu{
    position: absolute;   /* 부모요소 기준 inner 체크  */
    top: 0;
    right: 0;
    display: flex;
  }

  header .sub-menu ul.menu{

    font-family: Aria , sans-serif;
    display: flex;
  }

  header .sub-menu ul.menu li{
    
    position: relative;
  }

  header .sub-menu ul.menu li::before{    
    /* 인라인요소  */
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #e5e5e5;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;

  } 

  header .sub-menu ul.menu li:first-child:before{  
    /* 첫번재 요소에 줄은 없앰*/  
    display: none;
  }
  header .sub-menu ul.menu li a{
    /* background-color: red; */
    font-size: 12px;
    padding: 11px 16px;   /* 선택 영역을 명확하게  display: block; */
    display: block;
    color: #656565;
    text-decoration: none;                          /* ux  사용자 경험 */
  }

  header .sub-menu ul.menu li a:hover{     /* 마우스 hover */
    color: #000000;
  }
  
  header .sub-menu .search{
    
    /* background-color: red; */
    height: 34px;
    position: relative;

  }

  header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width 0.4s;
  }

  header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
  }



  header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;   /* search  position: relative; 추가*/
     top: 0 ;
     bottom : 0;
     right: 5px;    /*  header .sub-menu  ||   display: flex; */
     margin: auto;
     transition: 0.4s;
  }

  header .sub-menu .search.focused .material-icons {
    opacity: 0;


  }

  header .main-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;

  }
  
  header .main-menu .item{
  
  }

  header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
  
  }

  /* item  hover */
  header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;  /* 좌상  우상  우하 우좌*/

  }

  header .main-menu .item .item__contents {
      width: 100%;
      position: fixed;
      left: 0;
      display: none;   /* 임시 숨김*/
  }

  header .main-menu .item:hover .item__contents {
      display: block;
  
  }
  header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
    /* height: 200px; */
  }

  header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
  }

  header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
  }


  header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14;
    color: #fff;
  }

/*
  header .main-menu .item .item__contents .contents__menu > ul > li ul {  }
*/
  header .main-menu .item .item__contents .contents__menu > ul > li ul li {

    padding: 5px 0 ;
    font-size:  12px;
    color: #999;
    cursor: pointer;

  }

  header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: #669900;


  }

  header .main-menu .item .item__contents .contents__texture {
  /*
    background-color: orange;
    height: 100px;
   */
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");   /* 자동 반복적으로 출력*/
  }

  header .main-menu .item .item__contents .contents__texture h4 {

      color: #999;
      font-weight: 700;
      /* font-size: 12; */
  }

  header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;  /* 상 중 하 */
    /* font-size: 12px; */

  }

  header .badges {
    position: absolute;   /* header position 존재를 체크하기   */
    top : 130px;
    right: 12px;
  }

  header .badges .badge {
    border-radius: 10px;
    overflow: hidden;    /* 넘치지 않기 */
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0, 15);   /* 그림자 생성*/
    cursor: pointer;
  }


  /* Visual  */
  .visual {
    margin-top: 120px ;    /* header > .inner   height 120 */
    background-image: url("../images/visual_bg.jpg");
    background-position: center;

  }
   .visual .inner{
    height: 646px;
    /* background-color: orange;  임시 */
   } 

  /* .visual .inner .title { } */
  .visual .title {
    position: absolute;   /* .visual  inner position 값 체크 */
    top : 88px;
    left: -10px;
  }

  .visual .title .btn {
    position: absolute;
    top: 259px;
    left: 173px;

  }

  .visual .cup1.image {
    position: absolute;   /* .visual  inner position 값 체크 */
    bottom : 0;
    right: -47px;  

  }

  .visual .cup1.text {

    position: absolute;   /* .visual  inner position 값 체크 */
    top : 38;
    right: 171px; 
  }

  .visual .cup2.image {

    position: absolute;   /* .visual  inner position 값 체크 */
    bottom : 0;
    right: 162px;  

  }

  .visual .cup2.text {
    position: absolute;   /* .visual  inner position 값 체크 */
    top : 321px;
    right: 416px; 

  }

  .visual .spoon {
    position: absolute;   /* .visual  inner position 값 체크 */
    bottom : 0px;
    left: 275x;
  }

  .visual .fade-in {
    opacity: 0;   /* 투명하게 */
  }

/*NOTICE*/
.notice .notice-line {
  position: relative;

}
.notice .notice-line .bg-left {
  position: absolute;  /* notice-line  position 체크 */
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;
}